body { padding: 0; margin: 0 }
@font-face {font-family: "TTTFont";src: url("editundo.ttf");}
#unity-container { position: absolute }
#unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) }
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: #FFFFFF; border-radius: 10px; border-style: solid; }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px ;margin-left: 2px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: TTTFont;color: black;font-size: 28px;}
#unity-fullscreen-button {transition: transform .2s; float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-fullscreen-button:hover {  transform: scale(1.06);-ms-transform: scale(1.06);-webkit-transform: scale(1.06);background: url('fullscreen-button-hover.png') no-repeat center}
#unity-fullscreen-button:active {background: url('fullscreen-button-clicked.png') no-repeat center;transform: translateY(4px);}
